{% extends "base.html" %} {% load static %} {% block content %}

<!-- **************** MAIN CONTENT START **************** -->
<main>
  <!-- =======================
Main banner START -->
  <section class="py-0">
    <div class="container">
      <!-- Background image -->
      <div
        class="rounded-3 p-4 p-sm-5"
        style="
          background-image: url({{ about.featured_image.url }});
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
        "
      >
        <div class="row">
          <div class="col-md-6">
            <!-- Title -->
            <h1 class="h2 text-white mb-3">{{ about.heading }}</h1>
            <!-- Offer title -->
            <div class="bg-warning rounded-2 p-3 mb-3">
              <h5 class="text-dark">{{ about.sub_heading }}</h5>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- =======================
Main banner END -->

  <!-- =======================
Compare listing START -->
  <section>
    <div class="container">
      <div class="row g-4">
       

        <div class="col-md-10 mx-auto">
          

          <!-- List item -->
          <h5 class="mb-2">What else do you need to know?</h5>
          <p class="lead">
            {{ about.description | safe }}
          </p>

          
        </div>
      </div>
      <!-- Row END -->
    </div>
  </section>
  <!-- =======================
Compare listing END -->
</main>
<!-- **************** MAIN CONTENT END **************** -->

{% endblock content %}
