{% extends "base.html" %} {% load static %} {% block content %}

<!-- =======================
Main banner START -->
<section class="pt-4 pt-sm-5">
  <!-- Background and title -->
  <div class="container pb-6">
    <div class="row">
      <!-- Title -->
      <div class="col-lg-9 text-center mx-auto">
        <!-- Title -->
        <h1>
         Discover Beautiful Moments, One Stay at a Time
          
        </h1>
        <!-- Content -->
        <p class="mb-3">
          Feel at Home, Wherever You Travel
        </p>
        <!-- Button -->
        <a href="#" class="btn btn-lg btn-primary-soft me-2 mb-0"
          >Explore Hotel Glimpse<i class="bi bi-arrow-right ms-2"></i
        ></a>
      </div>
    </div>
    <!-- Row END -->
  </div>

  <!-- Image -->
  <div class="container overflow-hidden">
    <div class="row">
      <!-- Card START -->
      <div class="card bg-transparent">
        <!-- Card header -->
        
        <!-- Card body -->
        <div class="card-body px-0 pb-0">
          <div class="row g-4">
            {% for gallery in images %}
            <div class="col-md-4">
              <a
                class="w-100 h-100"
                data-glightbox
                data-gallery="gallery"
                href="{{ gallery.image.url }}"
              >
                <div
                  class="card card-element-hover card-overlay-hover overflow-hidden"
                >
                  <!-- Image -->
                  <img
                    src="{{ gallery.image.url }}"
                    class="card-img"
                    alt="{{ gallery.title }}"
                    loading="lazy"
                  />
                  <!-- Full screen button -->
                  <div class="hover-element w-100 h-100">
                    <i
                      class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"
                    ></i>
                  </div>
                </div>
              </a>
            </div>

            {% endfor %}

          
          </div>
        </div>
      </div>
      <!-- Card END -->
    </div>
    <!-- Row END -->
  </div>
</section>
<!-- =======================
Main banner END -->

{% endblock content %}
