{% extends "base.html" %} {% load static %} {% block content %}

<!-- **************** MAIN CONTENT START **************** -->
<main>
  <!-- =======================
Main Banner START -->
  <section class="py-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <!-- Slider START -->
          <div
            class="tiny-slider arrow-round arrow-blur arrow-hover overflow-hidden"
          >
            <div
              class="tiny-slider-inner"
              data-gutter="0"
              data-arrow="true"
              data-dots="false"
              data-items="1"
            >
            {% for slider in sliders %}
              <!-- Card item START -->
              <div
                class="card overflow-hidden h-400px h-sm-600px rounded-0"
                style="
                  background-image: url({{ slider.image.url }});
                  background-position: center left;
                  background-size: cover;
                "
              >
                <!-- Background dark overlay -->
                <div class="bg-overlay bg-dark opacity-3"></div>
                <!-- Card image overlay -->
                <div class="card-img-overlay d-flex align-items-center">
                  <div class="container">
                    <div class="row">
                      <div class="col-11 col-lg-7">
                        <h6 class="text-white fw-normal mb-0">
                          💖 {{ slider.sub_title }}
                        </h6>
                        <!-- Title -->
                        <h1 class="text-white display-6">
                          {{ slider.title }}
                        </h1>
                        <a href="{% url 'contact' %}" class="btn btn-primary mb-0"
                          >Reserve Today</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Card item END -->
              {% endfor %}
              
              
            </div>
          </div>
          <!-- Slider END -->
        </div>
      </div>
    </div>
  </section>
  <!-- =======================
Main Banner END -->

  <!-- =======================
About START -->
  <section class="pt-5 pt-md-8 pb-4">
    <div class="container z-index-9">
      <div class="row">
        <div class="col-lg-10 m-auto text-center">
          <h2>{{ about.heading }}</h2>
          <p class="lead">
            {{ about.description | safe| truncatewords:69}}
          </p>

          
          <!-- Button and rating -->
          <div class="d-sm-flex justify-content-center align-items-center mt-4">
            <!-- Rating -->
            <div
              class="d-flex justify-content-center align-items-center text-start me-0 me-sm-4"
            >
             
            </div>
            <!-- Button -->
            <div>
              <a href="{% url 'about' %}" class="btn btn-lg btn-dark mb-0">Explore now</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Row END -->
    </div>
  </section>
  <!-- =======================
About END -->

  <!-- =======================
Hotel grid START -->
  <section class="pt-5 pt-md-8 pb-4">
    <div class="container">
      <!-- Title -->
      <div class="row mb-4">
        <div class="col-12 text-center">
          <h2 class="mb-0">Our Luxuries Rooms</h2>
        </div>
      </div>
      <div class="row g-4">
        <!-- Card item START -->
        <div class="col-md-6 col-xl-4">
          <div class="card shadow p-2 pb-0 h-100">
            <!-- Overlay item -->
            <div class="position-absolute top-0 start-0 z-index-1 m-4">
              <div class="badge bg-danger text-white">30% Off</div>
            </div>

            <!-- Slider START -->
            <div
              class="tiny-slider arrow-round arrow-xs arrow-dark rounded-2 overflow-hidden"
            >
              <div
                class="tiny-slider-inner"
                data-autoplay="false"
                data-arrow="true"
                data-dots="false"
                data-items="1"
              >
                <!-- Image item -->
                <div>
                  <img
                    src="{% static 'assets/images/category/hotel/4by3/09.jpg'%}"
                    alt="Card image"
                  />
                </div>

                <!-- Image item -->
                <div>
                  <img
                    src="{% static 'assets/images/category/hotel/4by3/02.jpg'%}"
                    alt="Card image"
                  />
                </div>

                <!-- Image item -->
                <div>
                  <img
                    src="{% static 'assets/images/category/hotel/4by3/03.jpg'%}"
                    alt="Card image"
                  />
                </div>

                <!-- Image item -->
                <div>
                  <img
                    src="{% static 'assets/images/category/hotel/4by3/01.jpg'%}"
                    alt="Card image"
                  />
                </div>
              </div>
            </div>
            <!-- Slider END -->

            <!-- Card body START -->
            <div class="card-body px-3 pb-0">
              <!-- Rating and cart -->
              <div class="d-flex justify-content-between mb-3">
                <a href="#" class="badge bg-dark text-white"
                  ><i class="bi fa-fw bi-star-fill me-2 text-warning"></i>4.5</a
                >
                <a href="#" class="h6 mb-0 z-index-2"
                  ><i class="bi fa-fw bi-bookmark"></i
                ></a>
              </div>

              <!-- Title -->
              <h5 class="card-title">
                <a href="hotel-detail.html">Hotel Baljees Regency</a>
              </h5>

              <!-- List -->
              <ul class="nav nav-divider mb-2 mb-sm-3">
                <li class="nav-item">Air Conditioning</li>
                <li class="nav-item">Wifi</li>
                <li class="nav-item">Kitchen</li>
                <li class="nav-item">Pool</li>
              </ul>
            </div>
            <!-- Card body END -->

            <!-- Card footer START-->
            <div class="card-footer pt-0">
              <!-- Price and Button -->
              <div
                class="d-sm-flex justify-content-sm-between align-items-center"
              >
                <!-- Price -->
                <div class="d-flex align-items-center">
                  <h5 class="fw-normal text-success mb-0 me-1">$750</h5>
                  <span class="mb-0 me-2">/day</span>
                  <span class="text-decoration-line-through">$1000</span>
                </div>
                <!-- Button -->
                <div class="mt-2 mt-sm-0">
                  <a
                    href="hotel-detail.html"
                    class="btn btn-sm btn-primary-soft mb-0 w-100"
                    >View Detail<i class="bi bi-arrow-right ms-2"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Card item END -->

        <!-- Card item START -->
        <div class="col-md-6 col-xl-4">
          <div class="card shadow p-2 pb-0 h-100">
            <!-- Image -->
            <img
              src="{% static 'assets/images/category/hotel/4by3/10.jpg'%}"
              class="rounded-2"
              alt="Card image"
            />

            <!-- Card body START -->
            <div class="card-body px-3 pb-0">
              <!-- Rating and cart -->
              <div class="d-flex justify-content-between mb-3">
                <a href="#" class="badge bg-dark text-white"
                  ><i class="bi fa-fw bi-star-fill me-2 text-warning"></i>4.0</a
                >
                <a href="#" class="h6 mb-0 z-index-2"
                  ><i class="bi fa-fw bi-bookmark"></i
                ></a>
              </div>

              <!-- Title -->
              <h5 class="card-title">
                <a href="hotel-detail.html">Courtyard by Marriott New York </a>
              </h5>

              <!-- List -->
              <ul class="nav nav-divider mb-2 mb-sm-3">
                <li class="nav-item">Air Conditioning</li>
                <li class="nav-item">Wifi</li>
                <li class="nav-item">Pool</li>
                <li class="nav-item">More+</li>
              </ul>
            </div>
            <!-- Card body END -->

            <!-- Card footer START-->
            <div class="card-footer pt-0">
              <!-- Price and Button -->
              <div
                class="d-sm-flex justify-content-sm-between align-items-center"
              >
                <!-- Price -->
                <div class="d-flex align-items-center">
                  <h5 class="fw-normal text-success mb-0 me-1">$1200</h5>
                  <span class="mb-0 me-2">/day</span>
                </div>
                <!-- Button -->
                <div class="mt-2 mt-sm-0 z-index-2">
                  <a
                    href="hotel-detail.html"
                    class="btn btn-sm btn-primary-soft mb-0 w-100"
                    >View Detail<i class="bi bi-arrow-right ms-2"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Card item END -->

        <!-- Card item START -->
        <div class="col-md-6 col-xl-4">
          <div class="card shadow p-2 pb-0 h-100">
            <!-- Image -->
            <img
              src="{% static 'assets/images/category/hotel/4by3/08.jpg' %}"
              class="rounded-2"
              alt="Card image"
            />

            <!-- Card body START -->
            <div class="card-body px-3 pb-0">
              <!-- Rating and cart -->
              <div class="d-flex justify-content-between mb-3">
                <a href="#" class="badge bg-dark text-white"
                  ><i class="bi fa-fw bi-star-fill me-2 text-warning"></i>4.8</a
                >
                <a href="#" class="h6 mb-0 z-index-2"
                  ><i class="bi fa-fw bi-bookmark-fill text-danger"></i
                ></a>
              </div>

              <!-- Title -->
              <h5 class="card-title">
                <a href="hotel-detail.html">Club Quarters Hotel</a>
              </h5>

              <!-- List -->
              <ul class="nav nav-divider mb-2 mb-sm-3">
                <li class="nav-item">Air Conditioning</li>
                <li class="nav-item">Wifi</li>
                <li class="nav-item">Kitchen</li>
                <li class="nav-item">Pool</li>
              </ul>
            </div>
            <!-- Card body END -->

            <!-- Card footer START-->
            <div class="card-footer pt-0">
              <!-- Price and Button -->
              <div
                class="d-sm-flex justify-content-sm-between align-items-center"
              >
                <!-- Price -->
                <div class="d-flex align-items-center">
                  <h5 class="fw-normal text-success mb-0 me-1">$980</h5>
                  <span class="mb-0 me-2">/day</span>
                </div>
                <!-- Button -->
                <div class="mt-2 mt-sm-0 z-index-2">
                  <a
                    href="hotel-detail.html"
                    class="btn btn-sm btn-primary-soft mb-0 w-100"
                    >View Detail<i class="bi bi-arrow-right ms-2"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Card item END -->

      </div>
      <!-- Row END -->

    </div>
  </section>
  <!-- =======================
Hotel grid END -->

  <!-- =======================
Special offer START -->
  <section class="pb-0">
    <div class="container">
      <!-- Title -->
      <div class="row mb-4">
        <div class="col-12 text-center">
          <h3 class="mb-0">Special Offers</h3>
        </div>
      </div>

      <!-- Slider START -->
      <div class="tiny-slider arrow-round arrow-blur arrow-hover">
        <div
          class="tiny-slider-inner mb-8"
          data-autoplay="true"
          data-arrow="true"
          data-edge="2"
          data-dots="false"
          data-items-xl="3"
          data-items-lg="3"
          data-items-md="2"
          data-items-sm="1"
        >
        {% for offer in offers %}

          <!-- Offer card START -->
          <div>
            <div class="card">
              <img
                src="{{ offer.image.url }}"
                class="card-img"
                alt="{{ offer.title }}"
              />
              <!-- Card body -->
              <div
                class="position-absolute top-100 start-50 translate-middle w-100"
              >
                <div
                  class="card-body text-center bg-mode shadow rounded mx-4 p-3"
                >
                  <h6 class="card-title mb-1">
                    <a href="#">{{ offer.title }}</a>
                  </h6>
                  <small>{{ offer.sub_title }}</small>
                  <div class="mt-2">
                    <a href="#" class="btn btn-sm btn-dark mb-0">View Offer</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Offer card END -->

         {% endfor %}
        </div>
      </div>
      <!-- Slider END -->
    </div>
  </section>
  <!-- =======================
Special offer END -->

  <!-- =======================
Services START -->
  <section class="pt-0 pt-lg-5">
    <div class="container">
      <div class="row g-4 align-items-center">
        <div class="col-lg-6">
          <!-- Title -->
          <h2>We Provide Our Best Facilities For You</h2>
          <p>
            Book your hotel with us and don't forget to grab an awesome hotel
            deal to save massive on your stay.
          </p>
          <!-- Button -->
          <a href="{% url 'contact' %}" class="btn btn-dark mb-4">Contact Us</a>
          <!-- Services -->
          <div class="row g-sm-4">
            <div class="col-sm-6">
              <ul class="list-group list-group-borderless mt-2 mb-0">
                <li class="list-group-item">
                  <h6 class="fw-normal mb-0">
                    <i class="fa-solid fa-wifi fa-fw text-primary me-2"></i>Free
                    Wifi
                  </h6>  
                </li>

                <li class="list-group-item">
                  <h6 class="fw-normal mb-0">
                    <i
                      class="fa-solid fa-person-swimming fa-fw text-primary me-2"
                    ></i
                    >Swimming Pool
                  </h6>
                </li>

                <li class="list-group-item">
                  <h6 class="fw-normal mb-0">
                    <i
                      class="fa-solid fa-person-shelter fa-fw text-primary me-2"
                    ></i
                    >Private Workshop
                  </h6>
                </li>

                <li class="list-group-item">
                  <h6 class="fw-normal mb-0">
                    <i class="fa-solid fa-utensils fa-fw text-primary me-2"></i
                    >Breakfast
                  </h6>
                </li>
              </ul>
            </div>

            <div class="col-sm-6">
              <ul class="list-group list-group-borderless">
                <li class="list-group-item">
                  <h6 class="fw-normal mb-0">
                    <i class="fa-solid fa-bolt fa-fw text-primary me-2"></i>Free
                    Electricity
                  </h6>
                </li>

                <li class="list-group-item">
                  <h6 class="fw-normal mb-0">
                    <i class="fa-solid fa-dumbbell fa-fw text-primary me-2"></i
                    >Gym Space
                  </h6>
                </li>

                <li class="list-group-item">
                  <h6 class="fw-normal mb-0">
                    <i class="fa-solid fa-spa fa-fw text-primary me-2"></i>Spa
                  </h6>
                </li>

                <li class="list-group-item">
                  <h6 class="fw-normal mb-0">
                    <a href="#"
                      ><i
                        class="fa-solid fa-ellipsis fa-fw text-primary me-2"
                      ></i
                      >Other Services</a
                    >
                  </h6>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="bg-light rounded-3 h-100 p-4">
            <!-- Slider START -->
            <div class="tiny-slider arrow-round arrow-blur">
              <div
                class="tiny-slider-inner"
                data-autoplay="true"
                data-arrow="true"
                data-edge="2"
                data-dots="false"
                data-items-xl="1"
                data-items-md="1"
              >
                <!-- Card START -->
                <div class="card bg-transparent">
                  <div class="row g-4 align-items-center">
                    <div class="col-sm-6">
                      <img
                        src="{% static 'assets/images/category/flight/02.jpg' %}"
                        class="img-fluid card-img"
                        alt="..."
                      />
                    </div>
                    <div class="col-sm-6">
                      <div class="card-body p-0">
                        <h6 class="fw-normal mb-3">Honeymoon Sweets</h6>
                        <h4 class="card-title mb-3">
                          <a href="#" class="stretched-link"
                            >Maldives Sunshine Hotel</a
                          >
                        </h4>
                        <a href="#" class="btn btn-link p-0"
                          >Explore Now <i class="bi bi-arrow-right"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Card END -->

                <!-- Card START -->
                <div class="card bg-transparent">
                  <div class="row g-4 align-items-center">
                    <div class="col-sm-6">
                      <img
                        src="{% static 'assets/images/category/flight/01.jpg' %}"
                        class="img-fluid card-img"
                        alt="..."
                      />
                    </div>
                    <div class="col-sm-6">
                      <div class="card-body p-0">
                        <h6 class="fw-normal mb-3">Royal Stay</h6>
                        <h4 class="card-title mb-3">
                          <a href="#" class="stretched-link"
                            >Booking Grad Palace Japan</a
                          >
                        </h4>
                        <a href="#" class="btn btn-link p-0"
                          >Explore Now <i class="bi bi-arrow-right"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Card END -->

                <!-- Card START -->
                <div class="card bg-transparent">
                  <div class="row g-4 align-items-center">
                    <div class="col-sm-6">
                      <img
                        src="{% static 'assets/images/category/flight/03.jpg' %}"
                        class="img-fluid card-img"
                        alt="..."
                      />
                    </div>
                    <div class="col-sm-6">
                      <div class="card-body p-0">
                        <h6 class="fw-normal mb-3">Adventure Stay</h6>
                        <h4 class="card-title mb-3">
                          <a href="#" class="stretched-link"
                            >Golf & Spa Resort in New York</a
                          >
                        </h4>
                        <a href="#" class="btn btn-link p-0"
                          >Explore Now <i class="bi bi-arrow-right"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Card END -->
              </div>
            </div>
            <!-- Slider END -->
          </div>
        </div>
      </div>
      <!-- Row END -->
    </div>
  </section>
  <!-- =======================
Services END -->

  <!-- =======================
Action box START -->
  <section class="py-0 py-md-5">
    <div class="container">
      <div
        class="position-relative rounded-3 overflow-hidden p-3 p-sm-5"
        style="
          background-image: url({% static 'assets/images/about/08.jpg' %});
          background-position: center left;
          background-size: cover;
        "
      >
        <div class="row position-relative z-index-9">
          <div class="col-md-7 col-xl-5 ms-auto">
            <div class="card card-body p-sm-5">
              <div
                class="d-sm-flex justify-content-between align-items-center mb-2"
              >
                <h6 class="text-primary mb-0">Exclusive Offer</h6>
                <!-- Rating -->
                <ul class="list-inline small mb-0">
                  <li class="list-inline-item me-0">
                    <i class="fa-solid fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item me-0">
                    <i class="fa-solid fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item me-0">
                    <i class="fa-solid fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item me-0">
                    <i class="fa-solid fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fa-solid fa-star text-warning"></i>
                  </li>
                </ul>
              </div>
              <!-- Title -->
              <h5>Enjoy Your Dream Vacation In Switzerland</h5>
              <p class="mb-3">
                Book your hotel with us and don't forget to grab an awesome
                hotel deal to save massive on your stay.
              </p>

              <!-- Price -->
              <h6 class="fw-normal mb-1">2 Days / 3 Nights</h6>
              <div class="d-flex align-items-center">
                <h5 class="text-success mb-0 me-1">$750</h5>
                <span class="mb-0 me-2">/day</span>
                <span class="text-decoration-line-through">$1000</span>
              </div>
              <!-- Button -->
              <a href="#" class="btn btn-primary-soft mb-0 mt-3">Book Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- =======================
Action box END -->

  <!-- =======================
Gallery START -->
  <section>
    <div class="container-fluid">
      <!-- Title -->
      <div class="row mb-md-4">
        <div class="col-12 mx-auto text-center mb-4">
          <h2 class="mb-0">Our Hotel Precious Moments</h2>
        </div>
      </div>

      <!-- Slider START -->
      <div
        class="tiny-slider arrow-round arrow-blur arrow-hover rounded-3 overflow-hidden"
      >
        <div
          class="tiny-slider-inner d-flex align-items-end"
          data-autoplay="true"
          data-edge="2"
          data-arrow="true"
          data-dots="false"
          data-items="6"
          data-items-lg="4"
          data-items-sm="2"
        >
        {% for gallery in images %}

          <!-- Slider item -->
          <div>
            <a
              data-glightbox=""
              data-gallery="gallery"
              href="{{ gallery.image.url }}"
            >
              <div
                class="card card-element-hover card-overlay-hover overflow-hidden"
              >
                <!-- Image -->
                <img
                  src="{{ gallery.image.url }}"
                  class="rounded-3"
                  alt=""
                />
                <!-- Full screen button -->
                <div class="hover-element w-100 h-100">
                  <i
                    class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"
                  ></i>
                </div>
              </div>
            </a>
          </div>

         {% endfor %}
         
        </div>
      </div>
      <!-- Slider END	 -->
    </div>
  </section>
  <!-- =======================
Gallery END -->



<!-- =======================
Blog START-->
<section>
	<div class="container">
		<!-- Title -->
		<div class="row mb-3 mb-sm-4">
			<div class="col-12 text-center">
				<h2 class="mb-0">Latest Blogs & News</h2>
			</div>
		</div>
		<div class="row g-4 g-xl-5 justify-content-between">
			<div class="col-md-6">
				<!-- Card START -->
				<div class="card bg-transparent">
					<!-- Image -->
					<img src="{% static 'assets/images/blog/01.jpg' %}" class="card-img" alt="">

					<!-- Card body -->
					<div class="card-body px-3">
						<h4><a href="blog-detail.html" class="stretched-link">10 Ways on How to Improve your Hotel Operations</a></h4>
					</div>
				</div>
				<!-- Card END -->
			</div>

			<div class="col-md-6">
				<!-- Card START -->
				<div class="card bg-transparent mb-4 mb-md-5">
					<div class="row align-items-center">
						<!-- Images -->
						<div class="col-sm-4">
							<img src="{% static 'assets/images/blog/02.jpg' %}" class="card-img" alt="">
						</div>
						<div class="col-sm-8">
							<!-- card body -->
							<div class="card-body p-sm-0">
								<h5 class="card-title"><a href="blog-detail.html" class="stretched-link">Story of water world adventure</a></h5>
								<p class="mb-0">Jacqueline Miller</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Card END -->

				<!-- Card START -->
				<div class="card bg-transparent mb-4 mb-md-5">
					<div class="row align-items-center">
						<!-- Images -->
						<div class="col-sm-4">
							<img src="{% static 'assets/images/blog/03.jpg' %}" class="card-img" alt="">
						</div>
						<div class="col-sm-8">
							<!-- card body -->
							<div class="card-body p-sm-0">
								<h5 class="card-title"><a href="blog-detail.html" class="stretched-link">How Hotel Technology Can Help Small Hotel Businesses</a></h5>
								<p class="mb-0">Frances Guerrero</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Card END -->

				<!-- Card START -->
				<div class="card bg-transparent mb-0 mb-md-5">
					<div class="row align-items-center">
						<!-- Images -->
						<div class="col-sm-4">
							<img src="{% static 'assets/images/blog/04.jpg' %}" class="card-img" alt="">
						</div>
						<div class="col-sm-8">
							<!-- card body -->
							<div class="card-body p-sm-0">
								<h5 class="card-title"><a href="blog-detail.html" class="stretched-link">Hotel Service - Become a Guide for Your Guests</a></h5>
								<p class="mb-0">Louis Ferguson</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Card END -->
			</div>
		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
Blog START-->



 <!-- =======================
Faqs START -->
  <section class="pt-0 pt-lg-5">
    <div class="container">
      <!-- Title -->
      <div class="row">
        <div class="col-12 text-center mb-4">
          <h2 class="mb-0">Frequently Asked Questions</h2>
        </div>
      </div>

      <!-- Accordion START -->
      <div class="row">
        <div class="col-10 mx-auto">
          <div
            class="accordion accordion-icon accordion-bg-light"
            id="accordionExample2"
          >
            {% for faq in faqs %}
            <div class="accordion-item mb-3">
              <h6
                class="accordion-header font-base"
                id="heading-{{ forloop.counter }}"
              >
                <button
                  class="accordion-button fw-bold rounded d-inline-block {% if not forloop.first %}collapsed{% endif %}"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-{{ forloop.counter }}"
                  aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                  aria-controls="collapse-{{ forloop.counter }}"
                >
                  {{ faq.question }}
                </button>
              </h6>

              <!-- Body -->
              <div
                id="collapse-{{ forloop.counter }}"
                class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                aria-labelledby="heading-{{ forloop.counter }}"
                data-bs-parent="#accordionExample2"
              >
                <div class="accordion-body mt-3">{{ faq.answer }}</div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- Accordion END -->
    </div>
  </section>
  <!-- =======================
Faqs END -->

<!-- =======================
Client START -->
<section class="py-0 py-md-5">
	<div class="container">
		<div class="row g-4 g-lg-7 justify-content-center align-items-center">
      {% for ota in otas %}
			<!-- Image -->
			<div class="col-5 col-sm-3 col-xl-2">
				<img src="{{ ota.image_optimized.url  }}" class="" alt="">
			</div>
      {% endfor %}
			
		</div>
	</div>
</section>
<!-- =======================
Client END -->
</main>
<!-- **************** MAIN CONTENT END **************** -->

{% endblock content %}
